* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

@media (min-width: 300px) {
  .sign-main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-image: url(/img/sign-img/sign-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sign-main > section {
    display: flex;
    flex-direction: column;
    row-gap: 7vh;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .sign-main h2 {
    color: white;
    padding-bottom: 5vh;
    text-align: center;
  }
  .sign-main .sign-left,
  .sign-main .signIn-right {
    width: 60%;
  }
  .sign-main form {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
  }
  .sign-main input {
    padding: 3%;
    border: none;
    border-radius: 5px;
    opacity: 0.4;
  }
  .sign-main [type=submit] {
    background-color: #FFC300;
    opacity: 0.8;
  }
  .sign-main ul {
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
  }
  .sign-main i {
    font-size: 30px;
    color: white;
  }
  .sign-main h3, .sign-main p {
    color: white;
  }
  .sign-main h3 {
    text-align: center;
  }
  .sign-main aside {
    display: flex;
    justify-content: center;
  }
  .sign-main a {
    cursor: pointer;
    width: 40%;
    color: #FFC300;
  }
  .sign-main article {
    padding-bottom: 2vh;
  }
  .sign-main .signIn-right i,
  .sign-main .signUp-right i {
    font-size: 18px;
    padding-right: 2%;
    color: #FFC300;
  }
  footer {
    height: 20vh;
    background-color: black;
  }
}
@media (min-width: 700px) {
  .sign-main h2 {
    font-size: 36px;
  }
  .sign-main ul {
    -moz-column-gap: 4vh;
         column-gap: 4vh;
  }
  .sign-main i {
    font-size: 38px;
  }
  .sign-main h3, .sign-main p {
    font-size: 24px;
  }
  .sign-main a {
    font-size: 24px;
  }
  .sign-main .signIn-right i,
  .sign-main .signUp-right i {
    font-size: 24px;
  }
}
@media (min-width: 1000px) {
  .sign-main {
    height: 120vh;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  }
  .sign-main > section {
    padding: 10vh 0;
    flex-direction: row;
    background-color: rgba(250, 250, 250, 0.1);
  }
  .sign-main i, .sign-main h2, .sign-main h3 {
    color: black;
  }
  .sign-main .sign-left {
    width: 50%;
    height: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    align-items: center;
    justify-content: center;
  }
  .sign-main form {
    row-gap: 6vh;
  }
  .sign-main input {
    padding: 3%;
    border-bottom: 1px solid gray;
  }
  .sign-main .signIn-right {
    width: 25%;
    height: 90%;
    background-image: url(/img/sign-img/sign-02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .sign-main .signUp-right {
    width: 25%;
    height: 90%;
    background-image: url(/img/sign-img/sign-01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .sign-main .signIn-right > section,
  .sign-main .signUp-right > section {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
  }
  .sign-main article {
    padding-top: 20vh;
  }
  .sign-main h3 {
    color: white;
    padding-bottom: 2vh;
  }
  .sign-main p {
    text-align: center;
    width: 90%;
    padding-bottom: 13vh;
  }
}/*# sourceMappingURL=style.css.map */