@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap');

@font-face {
    font-family: 'Boulevard';
    src: url(../fonts/Boulevard\ Saint\ Denis.ttf);
}

@font-face {
    font-family: 'Trend';
    src: url(../fonts/Trend\ Sans\ W00\ Four.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: Nunito,"sans-serif";
}

html{
    scroll-behavior: smooth;
}

// body{
//     height: 500vh;
// }

video{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    opacity: .9;
}
#header{
    display: flex;
    position: relative;
    height: 100vh;
}
#header article{
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: center;
}

#header nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header{
    nav img{
        width: 100%;
        height: 17vh;
    }
    li small{
        font-weight: lighter;
        padding-left: 1px;
    }
    ul > li:nth-child(1),ul > li:nth-child(2),ul > li:nth-child(3),ul > li:nth-child(4) {
        border-right: 1px solid white;
    }
    nav > a:last-child{
        font-size: .9rem;
        background-color: #5463FF;
        padding: 1vh 3vh;
        border: 1px solid transparent;
        border-radius: 20px;
        &:hover{
            background-color: #27374D;
            color: white;
        }
    }
    p{
        font-size: 1.2rem;
    }
}

#header ul{
    display: flex;
    width: 55%;
}
#header li{
    list-style: none;
}
#header a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 900;
    color: white;
    text-align: center;
    padding: 0 2vh;
    &:hover{
        color: #5463FF;
        transition: .5s;
    }
}


.container{
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-image: url("../img/pexels-kampus-production-5920744.jpg");
    background-attachment: fixed;
    
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about{
    width: 100%;
    height: 1200px;
    background-position: center;
    background-size: cover;
    background-image: url("https://uploads-ssl.webflow.com/637f8005cf82256ba6e57888/6389d8047c6fa1eb055c3621_about-us-dotten-background.svg");
    background-attachment: fixed;
        h1{
        font-family: "Boulevard", sans-serif;
        text-shadow: 3px 3px #e0cbcb;
        color:#FF1818;
        font-size: 5.5rem;
        padding: 5vh 0 0 10vh;
        width: 40%;
    }
        p{
            font-size: 1.1rem;
            width: 45%;
            padding-left: 5vh;
            font-weight: 300;
            display: flex;
            align-items: center;
            padding-top: 1vh;
            color: dimgray;
        }
}

.welcome{   
    display: flex;
    flex-direction: column;
    align-items: center;
    > article{
        display: flex;
        width: 75%;
        padding-bottom: 5vh;
    }
    > a{
        text-decoration: none;
        color: #FFC300;
        font-weight: 900;
        font-size: 1.1rem;
        border: 1px solid transparent;
        border-radius: 15px;
        padding: 1vh 3vh;
        &:hover{
            background-color: #27374D;
            border: 1px solid transparent;
            border-radius: 20px;
            padding: 1vh 3vh;
            color: #e0cbcb;
            transition: .5s;
        }
    }
}

.best{
    >h2{
        font-size: 2rem;
        width: 50%;
        font-family: "Trend", sans-serif;
        text-shadow: 3px 3px #e0cbcb;
        color: #5463FF;
        font-weight: lighter;
        text-align: center;
        padding-bottom: 5vh;
        > span{
            color: #27374D;
            font-size: 2rem;
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    padding-top: 17vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    > div{
        display: flex;
        justify-content: space-around;
        width: 75%;
        background-color: #27374D;
        padding-bottom: 3vh;
        border: 1px solid transparent;
        border-radius: 10px;
    }
    figure{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 7vh;
    }
    figcaption{
        text-align: center;
        width: 50%;
        > p{
            width: 100%;
            padding: 0 0 7vh 0;
            color: white;
        }
        > a{
            text-decoration: none;
            color:#27374D;
            background-color: #e0cbcb;
            border: 3px solid transparent;
            border-radius: 20px;
            padding: 1vh 4vh;
            font-weight: 700;
            &:hover{
                background-color: #5463FF;
                color: white;
                transition: .4s;
            }
        }
    }
    img{
        width: 20vh;
        height: 20vh;
        padding: 3vh;
    }
    h3{
        font-family: "Boulevard", sans-serif;
        color: #e0cbcb;
        font-size: 6rem;
    }
}

//trucklist
// #trucks{
//     display: flex;
//     height: 600px;
//     > a{
//         width: 100%;
//         height: 100%;
//         text-decoration: none;
//         text-shadow: #FF1818 1px 0 10px;
//     }
// }

// .brazil{
//     background-image: url("https://blog.amigofoods.com/wp-content/uploads/2019/04/brazilian-foods.jpg");
//     background-position: center;
//     background-size: cover;
//     display: flex;
//     width: 100%;
//     height: 100%;
//     justify-content: center;
//     align-items: center;
//     color: white;
//     font-weight: 900;
//     font-size: 2rem;
//     &:hover{
//         opacity: .8;
//         transition: .6s;
//     }
// }
// .colombia{
//     background-image: url("https://cdn.tasteatlas.com/images/toplistarticles/261d82ef99c8491cbb7b5fe7d262db5d.jpg?m=facebook");
//     background-position: center;
//     background-size: cover;
//     display: flex;
//     width: 100%;
//     height: 100%;
//     justify-content: center;
//     align-items: center;
//     color: white;
//     font-weight: 900;
//     font-size: 2rem;
//     &:hover{
//         opacity: .8;
//         transition: .6s;
//     }
// }
// .japan{
//     background-image: url("https://cdn.tasteatlas.com/images/toplistarticles/8cc45833c34a4bc99d85375ecfde18f6.jpg?m=facebook");
//     background-position: center;
//     background-size: cover;
//     display: flex;
//     width: 100%;
//     height: 100%;
//     justify-content: center;
//     align-items: center;
//     color: white;
//     font-weight: 900;
//     font-size: 2rem;
//     &:hover{
//         opacity: .8;
//         transition: .7s;
//     }
// }
// .indian{
//     background-image: url("https://images.ctfassets.net/3s5io6mnxfqz/6ZImCEzx6UuvuKaAiZEDDN/50479ee4a0902deb4eb1bab720ce248a/image1.jpg");
//     background-position: center;
//     background-size: cover;
//     display: flex;
//     width: 100%;
//     height: 100%;
//     justify-content: center;
//     align-items: center;
//     color: white;
//     font-weight: 900;
//     font-size: 2rem;
//     &:hover{
//         opacity: .8;
//         transition: .7s;
//     }
// }
// .mexican{
//     background-image: url("https://ontheborder.com.au/wp-content/uploads/2022/03/Mexican-Cuisine-scaled.jpg");
//     background-position: center;
//     background-size: cover;
//     display: flex;
//     width: 100%;
//     height: 100%;
//     justify-content: center;
//     align-items: center;
//     color: white;
//     font-weight: 900;
//     font-size: 2rem;
//     &:hover{
//         opacity: .8;
//         transition: .7s;
//     }
// }
// .korea{
//     background-image: url("https://www.ragus.co.uk/wp-content/uploads/2022/12/Korean_cuisine_01_ss_1588959085_1295x715px.jpg");
//     background-position: center;
//     background-size: cover;
//     display: flex;
//     width: 100%;
//     height: 100%;
//     justify-content: center;
//     align-items: center;
//     color: white;
//     font-weight: 900;
//     font-size: 2rem;
//     &:hover{
//         opacity: .8;
//         transition: .7s;
//     } 
// }

//truckList v2

#truckList{
    padding: 5vh 0 12vh 0;
    display: flex;
    justify-content: space-evenly;
    background-position: center;
    background-size: cover;
    background-image: url("https://uploads-ssl.webflow.com/637f8005cf82256ba6e57888/6389d8047c6fa1eb055c3621_about-us-dotten-background.svg");
    background-attachment: fixed;
    img{
        width: 18vh;
        height: 18vh;
    }
    figcaption{
        text-align: center;
        color: dimgray;
        padding-top: 1vh;
        font-size: 1.3rem;
    }
    > a{
        text-decoration: none;
        
    }
}

.gallery{
    width: 100%;
    height: 700px;
    display: flex;
    background-color: #27374D;
    > article{
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("../img/gallery-1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    > div{

        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        > h2{
            color: #e0cbcb;
            font-family: "Trend", sans-serif;
            font-weight: lighter;
            font-size: 3rem;
            text-align: left;
            padding: 0 0 6vh 0;
            width: 85%;
        }

    }
    aside{
        width: 95%;
        display:flex;
        justify-content: center;
        align-items: center;
        column-gap: 2vh;
        > article{
            display: flex;
            flex-direction: column;
            gap: 2vh;
        }
        img:nth-child(1){
            width: 100%;
            height: 45vh;
            border: 1px solid transparent;
            border-radius: 5px;
        }
        img:nth-child(2){
            width: 100%;
            height: 35vh;
            border: 1px solid transparent;
            border-radius: 5px;
        }
    }
}


#home-footer{
    display: flex;
    justify-content: space-around;
    background-color: #27374D;
    align-items: center;
    padding: 1vh 0;
    > ul{
        display: flex;
        align-items: center;
        width: 35%;
    }
    img{
        width: 7vh;
        height: 7vh;
    }
    li{
        list-style: none;
        border: unset;
        display: flex;
        width: 100%;
    }
    >a, a{
        text-decoration: none;
        color: white;
    }
    i{
        width: 6vh;
        height: 6vh;
        border: 1px solid white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



.reviews{
    background-position: center;
    background-size: cover;
    background-image: url("https://uploads-ssl.webflow.com/637f8005cf82256ba6e57888/6389d8047c6fa1eb055c3621_about-us-dotten-background.svg");
    background-attachment: fixed;
    padding: 4vh 0;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    
}
.reviews > h2{
    text-align: center;
    font-size: 7rem;
    color: #FF1818;
    padding-bottom: 1vh;
    font-family: "Boulevard", sans-serif;
    text-shadow: 3px 3px #e0cbcb;
}

.review{
    display: flex;
    justify-content: center;
    column-gap: 5vh;
    
    
}
.review img{
    width: 200px;
    height: 200px;
    border: 1px solid transparent;
    border-radius: 50%;
}
.review aside{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: dimgray;

}
.review figcaption{
    text-align: center;
}

i{
    color: #FFC300;
}
i:last-child{
    color: gainsboro;
}
#person{
    font-family: "Boulevard",sans-serif;
    color: #FFC300;
    font-size: 2rem;
}

/* navigation arrows */
#leftA{
    display: flex;
    position: absolute;
    bottom: -2500px;
    left: 5%;
    font-size: 2.6rem;
    color:#FF1818;
    text-shadow: 2px 2px #e0cbcb;
}
#rightA{
    font-size: 2.6rem;
    display: flex;
    position: absolute;
    bottom: -2500px;
    right: 5%;
    color:#FF1818;
    text-shadow: 1px 1px #e0cbcb;
}



